#home header{
    padding: 20px;
    min-height: 200px;

    display: flex;
    flex-flow: column;
    align-items: center;

    background: var(--st);
}
#home img{
    object-fit: cover;
    height: 200px;
    width: 200px;
}
#home main{
    padding: 20px;
}
#home footer{
    padding: 20px;
    min-height: 200px;
    background: linear-gradient(30deg, var(--c1), transparent);
}