#home header{
    padding: 20px;
    min-height: 200px;

    display: flex;
    flex-flow: column;
    align-items: center;

    background: var(--st);
    text-align: center;
}
    #home [alt="reactLogo"]{
        object-fit: cover;
        height: 200px;
        width: 200px;

        animation-name: reactLogo;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }@keyframes reactLogo {
        0%{ transform: rotate(0); }
        100%{ transform: rotate(360deg); }
    }

#home main{
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: start;
}
    #home main>div{
        max-width: 300px;
        border: 1px solid;
        border-radius: 5px;
        overflow: hidden;
    }
    #home main .text{
        padding: 5px;
        display: flex;
        flex-flow: column;
    }
    #home main img{
        object-fit: cover;
        width: 100%;
        height: 200px;
    }

#home footer{
    padding: 20px;
    min-height: 200px;
    background: linear-gradient(30deg, var(--c1), transparent);
}