.Navbar{
    padding: 5px 20px;
    height: 50px;
    width: 100vw;

    position: fixed; 
    top: 0;

    display: flex;
    gap: 10px;

    background: linear-gradient(30deg, var(--c2), var(--c2), var(--c1));
}

img.logo{
    height: 100%;
    object-fit: cover;
}

.autoDropdown{}
summary{
    padding: 10px;
}
.content{
    padding: 10px;
    position: absolute;
    top: 50px;

    display: flex;
    flex-flow: column;
    gap: 5px;

    background: var(--c2);
}
a{
    color: var(--c5);
}
