#root *{
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  font-size: 20px;
  color: var(--c5);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none !important;
}
a:hover {
  color: #cacdff;
}

button {
  background: var(--c1);
}
button:hover {
  border-color: #646cff;
}
button:focus,


input{
  width: 100%;
}

ul,ol{
  padding-left: 30px !important;
}